# Enabled rules
# Blank lines rules
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable linebreakAtEndOfFile

# Spacing  rules
--enable consecutiveSpaces
--enable emptyBraces
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingSpace

# Duplication, redundancy, unused stuff rules
--enable fileHeader
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable strongifiedSelf
--enable trailingClosures
--enable trailingCommas
--enable unusedArguments

# Size and formatting rules
--enable markTypes
--enable numberFormatting
--enable preferKeyPath
--enable todos

# Wrapping rules
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapEnumCases
--enable wrapSwitchCases

# Placement rules (same or next line)
--enable braces
--enable elseOnSameLine
--enable leadingDelimiters

# Ordering rules
--enable extensionAccessControl
--enable hoistPatternLet
--enable modifierOrder
--enable yodaConditions

# Sorting rules 
--enable sortedImports
--enable sortedSwitchCases

# Indentation rules
--enable indent
--enable linebreaks

# Rules to use appropriate methods 
--enable isEmpty

# Rules to use appropriate types, syntax, …
--enable andOperator
--enable anyObjectProtocol
--enable blockComments
--enable enumNamespaces
--enable preferDouble
--enable redundantFileprivate
--enable typeSugar
--enable void

# Rules for the reference type
--enable strongOutlets

# Rules for availability
--enable initCoderUnavailable



# Disabled rules
--disable acronyms
--disable assertionFailures
--disable duplicateImports
--disable redundantClosure
--disable sortDeclarations
--disable wrapMultilineStatementBraces
--disable wrapConditionalBodies

# Rules to test
--disable organizeDeclarations




# Parameters
--semicolons never

--decimalgrouping none
--binarygrouping none
--octalgrouping none
--hexgrouping none

--maxwidth 120

--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first

--funcattributes same-line
--typeattributes same-line
--varattributes same-line

--guardelse same-line

--extensionacl on-declarations

--xcodeindentation enabled

--lineaftermarks false
--marktypes never
--extensionmark "MARK: - %c extension"
--groupedextension "MARK: - %c extension"

--header strip

# file options
--exclude TotalFleetCard/Autogenerated